
<div id="chat-container">
  <div id="search-container">
    <input type="text" placeholder="Search">
  </div>
  <div id="conversation-list">
    <div class="conversation active">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Daryl Duckmanton
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is a message
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        John Heinderman
      </div>
      <div class="created-date">
        Two days ago
      </div>
      <div class="conversation-message">
        Thats hilarious mate
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        James Arnold
      </div>
      <div class="created-date">
        1 week ago
      </div>
      <div class="conversation-message">
        Too bad tho
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Sarah Grey
      </div>
      <div class="created-date">
        1 month ago
      </div>
      <div class="conversation-message">
        Are you there?
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Lorain Epso
      </div>
      <div class="created-date">
        2 hours ago
      </div>
      <div class="conversation-message">
        Where's the manager?
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        David Coper
      </div>
      <div class="created-date">
        1 minute ago
      </div>
      <div class="conversation-message">
        Come to my office
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Simon Bankfeild
      </div>
      <div class="created-date">
        3 days ago
      </div>
      <div class="conversation-message">
        Nice to meet you!
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Moniq Lein
      </div>
      <div class="created-date">
        Just now
      </div>
      <div class="conversation-message">
        Will you be at work tomorrow?
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Arnold Grown
      </div>
      <div class="created-date">
        Yesterday
      </div>
      <div class="conversation-message">
        It's crazy man!
      </div>
    </div>
    <div class="conversation ">
      <i class="fas fa-user"></i>
      <div class="title-text">
        Jacob Norman
      </div>
      <div class="created-date">
        Just now
      </div>
      <div class="conversation-message">
        See you tomorrow!
      </div>
    </div>

  </div>
  <div id="new-message-container">
    <a href="#">+</a>
  </div>
  <div id="chat-title">
    <span>Daryl Duckmanton</span>
    <i class="far fa-trash-alt"></i>
  </div>
  <div id="chat-message-list">
    <div class="message-row your-message">
      <div class="message-text">Ok then</div>
      <div id="your-message1" class="message-time ">Apr 16</div>
    </div>
    <div class="message-row answer-message" >
      <div class="message-text">Because it is a really hard job, but if you can manage it then go ahead!</div>
      <div class="message-time">Apr 16</div>
    </div>
  </div>
  <div id="chat-form">
    <i class="fas fa-paperclip"></i>
    <input type="text" placeholder="type a message">
  </div>
</div>


