<div class="container">
  <h3>Contact Form</h3>
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="department">Department</label>
    <select id="Department" name="Department">
      <option value="australia">Kaunas</option>
      <option value="canada">Vilnius</option>
      <option value="usa">Alytus</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
<div class="contact-list">
  <h2>Department contacts</h2>

  <dl>
    <dt>Kaunas</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>

    <dt>Vilnius</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>

    <dt>Alytus</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>

    <dt>Jonava</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>

    <dt>Klaipeda</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>

    <dt>Panevezys</dt>
    <dd>Tel.nr:+37061234568</dd>
    <dd>Adresas: Savanoriu pr. 122A</dd>
    <dd>Darbo Laikas: I-V 10-18</dd>
  </dl>
</div>
