<div id="news-body">
  <div class="about">
    <h5 class="about-us">About us</h5>
    <div class="span-body">
    <span class="about-text">EEIWA - stands for "Employer & Employee Interaction Web App". Which should allow employees to interact with theyre manager easily without even needing to meet him in person, for example if an employee needs a day off he can easily come to this app, then calendar and pick a free day that he needs or several days if needed, after picking the day manager automaticaly gets an notification about his employee asking for a day off all its left to confirm or decline.</span>
    </div>
    <h5 class="updates">Updates</h5>
    <div class="updates-body">
      <span class="updates-text">Everything related to EEIWA project updates will be placed here</span>
    </div>
  </div>
</div>
