<body class="signin-body">
<div id="signin-wrapper">
  <section class="logo">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px"
         viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">

    <rect x="11.39" y="14.5" transform="matrix(6.123234e-17 -1 1 6.123234e-17 2.6414 41.5085)" width="21.37"
          height="9.87"/>
      <rect x="23.35" y="8.75" class="st0" width="43.74" height="9.16"/>
      <rect x="13.93" y="38.04" class="st1" width="58.14" height="14.88"/>
      <text transform="matrix(1.2064 0 0 1 14.9246 49.0293)" class="st2 st3 st4">EEIWA</text>
      <rect x="9.1" y="64.3" transform="matrix(6.123234e-17 -1 1 6.123234e-17 -47.1584 91.3083)" width="25.95"
            height="9.87"/>
      <rect x="23.35" y="73.05" width="43.74" height="9.16"/>
</svg>

  </section>
  <div id="signin-container">
    <span class="title">Employer & Employee Interaction Web App</span>
    <div class="signin-form">
      <div class="inputs">
        <input class="input-text" type="text" autocomplete="off" placeholder="Username">

      </div>
      <div class="inputs">
        <input class="input-text" type="password" autocomplete="off" placeholder="Password">
      </div>
      <div class="rmb-frgt-button">
        <span class="remember-me">Remember Me</span>
        <input type="checkbox">
      </div>
      <div class="rmb-frgt-button">
        <a href="#">Forgot Password</a>
      </div>
      <div class="signin-button">
        <button class="btn" type="button" routerLink="/logedin">Sign In</button>
      </div>

    </div>
  </div>
  <div class="signin-footer">Don't have an account?<a routerLink="/signup">Create one!</a></div>
</div>

</body>
