<div class="edit-profile-box">
  <i class="fas fa-users info-color py-4 mr-3 z-depth-2"></i>
  <div class="data">
    <h5>Edit Profile </h5>
  </div>
  <div class="edit-profile-content">
    <div class="inputs">
      <input type="text" placeholder="Name"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="Last Name"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="Department"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="Address"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="City"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="Country"/>
    </div>
    <div class="inputs">
      <input type="text" placeholder="Postal Code"/>
    </div>
    <span class="about-me-area">About me
  <textarea type="text" id="form10" class="md-textarea form-control" rows="3"></textarea>
  </span>

  </div>
</div>
<div class="profile-card">
  <div class="avatar">
  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle" alt="First sample avatar image">
  </div>
  <div class="card-body">
    <h3 class="name">
      <strong>Anna Deynah</strong>
    </h3>
    <h6 class="cyan-text">
      Web Designer
    </h6>
    <p class="card-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip consequat.
    </p>
  </div>
</div>

