
<div class="signup-body">
  <div id="signup-wrapper">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px"
         viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">

    <rect x="11.39" y="14.5" transform="matrix(6.123234e-17 -1 1 6.123234e-17 2.6414 41.5085)" width="21.37"
          height="9.87"/>
      <rect x="23.35" y="8.75" class="st0" width="43.74" height="9.16"/>
      <rect x="13.93" y="38.04" class="st1" width="58.14" height="14.88"/>
      <text transform="matrix(1.2064 0 0 1 14.9246 49.0293)" class="st2 st3 st4">EEIWA</text>
      <rect x="9.1" y="64.3" transform="matrix(6.123234e-17 -1 1 6.123234e-17 -47.1584 91.3083)" width="25.95"
            height="9.87"/>
      <rect x="23.35" y="73.05" width="43.74" height="9.16"/>
</svg>

    <div id="signup-container">
      <form action="#">
        <div class="register-box">

          <div class="textbox-register">
            <div class="inputs">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="Surname"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="Street Address"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="Street Address Line 2"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="City"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="State / Province"/>
            </div>
            <div class="inputs">
              <input type="text" placeholder="Postal / Zip Code"/>
            </div>
            <div class="inputs">
              <input type="number" placeholder="Phone Number"/>
            </div>
            <div class="inputs">
              <input type="date" placeholder="Birth Date"/>
            </div>
            <div class="inputs">
              <input type="email" placeholder="john.rusel@gmail.com"/>
            </div>
            <div class="inputs">
              <input type="email" placeholder="Repeat Email"/>
            </div>
            <div class="inputs">
              <input type="password" placeholder="Password"/>
            </div>
            <div class="inputs">
              <input type="password" placeholder="Repeat password"/>
            </div>
          </div>
          <button class="btn-register"> Sign Up</button>
        </div>

      </form>
    </div>
  </div>
</div>

